RewriteEngine On
SetEnvIf Authorization (.*) HTTP_AUTHORIZATION=$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<FilesMatch "\.(sqlite|sql)$|^config\.php$">
    Require all denied
</FilesMatch>

<Files "config.php">
    Require all denied
</Files>

<Files "data.sqlite">
    Require all denied
</Files>

<Files "schema.sql">
    Require all denied
</Files>